{% extends htdocs_layout %}

{% block head_title %}Development{% endblock %}
{% block head_pagedescription %}Development Infrastructure{% endblock %}

{% block content %}

<p>
  <strong>Intended Audience:</strong>
  Developers and contributors
</p>

<ol>
  <li>
    <a href="#repo">Code repository</a></li>
  </li>
  <li>
    <a href="#issues">Reporting issues</a></li>
  </li>
  <li>
    <a href="#contrib">Contributions</a></li>
  </li>
</ol>

<h1 id="repo">Code repository</h1>
<p>
  Several repositories of sub-projects are located in the
  <a href="https://code.stroeder.com/AE-DIR">gitea org AE-DIR</a>.
</p>

<h1 id="issues">Reporting issues</h1>
<ul>
  <li>
    Create a ticket in the appropriate sub-repository.
  </li>
</ul>

<h1 id="contrib">Contributions</h1>
<ul>
  <li>
    Create a ticket in the appropriate sub-repository.
  </li>
  <li>
    If you want to provide a solution create a pull-request.
  </li>
  <li>
    Explicitly agree to license of sub-project (mostly Apache-2.0)
    by adding a comment in the pull request.
  </li>
</ul>

{% endblock content %}
