{% extends htdocs_layout %}

{% block head_title %}News / announcements{% endblock %}
{% block head_pagedescription %}Project news and announcements{% endblock %}

{% block content %}

<p id="202112061600" class="pagesubtitle">2021-12-06 - Tagged ansible-ae-dir-server 0.31.3</p>
<p>Changes since 0.31.2:</p>
<ul>
  <li>
    Update to <em>ae-dir-pproc 1.5.9</em> which fixes a minor templating
    issue in the welcome e-mail sent to new users.
  </li>
</ul>

<p id="202112051200" class="pagesubtitle">2021-12-05 - Support for Debian buster ends 2022-02-28</p>
<p>
  Tested free support for Debian buster (10.x) will be ceased by end of February 2022:
</p>
<ul>
  <li>
    The ansible roles, especially new features, are not guaranteed to
    work on Debian buster anymore.
  </li>
  <li>
    The <a href="https://ae-dir.com/repo/debian/buster/">apt repository for buster</a>
    will be available until 2022-08 to match
    <a href="https://wiki.debian.org/DebianReleases#Production_Releases">
    Debian's production support</a> but packages will not be updated anymore.
  </li>
  <li>
    The builds of Debian packages
    <a href="https://code.stroeder.com/AE-DIR/debian-openldap-ms">openldap-ms</a> and
    <a href="https://code.stroeder.com/AE-DIR/debian-aehostd-modules">aehostd-modules</a>
    are not guaranteed to work on Debian buster anymore.
  </li>
  <li>
    Pull requests with specific backward-compability fixes for Debian buster
    will likely not be accepted.
  </li>
</ul>

<p id="202112042200" class="pagesubtitle">2021-12-04 - New web content</p>
<p>
  There are two new sub-pages available:
</p>
<ul>
  <li><a href="news.html">List of project announcements / news</a></li>
  <li><a href="devel.html">Information about development resources / issue tracker</a></li>
</ul>

<p id="202112031600" class="pagesubtitle">2021-12-03 - Tagged ansible-ae-dir-server 0.31.2</p>
<p>Changes since 0.31.1:</p>
<ul>
  <li>
    Dropped support for running with accesslog database on read-only consumers.
    With OpenLDAP 2.6 there is no useful data (e.g. authTimestamp-updates)
    therein anymore.
  </li>
  <li>
    Renamed mis-named var to correct name <code>openldap_slapo_allowed</code>.
  </li>
  <li>
    Use <code>aedir_db_params</code> for generating AppArmor profile for ae-slapd.
  </li>
  <li>
    <code>ae-dir-replica-reset.sh</code> is now also generated based on
    ansible var <code>aedir_db_params</code>.
  </li>
</ul>

<p id="202112030000" class="pagesubtitle">2021-12-03 - Tagged ansible-ae-dir-server 0.31.1</p>
<p>Changes since 0.30.0:</p>
<ul>
  <li>
    Attribute <var>sudoOrder</var> can now be used in sudoers entries.
  </li>
  <li>
    Heavy re-factoring of specifying database parameters. Applying the changes
    to existing deployments should work without issues, except some custom HTML
    templates for web2ldap might need tweaking.
  </li>
  <li>
    The maintenance scripts were re-factored to not require a running slapd
    instance which should help to recover from issues more quickly. The scripts
    are now listed in the CLI usage docs.
  </li>
  <li>
    <code>ae-dir-slapcat.sh</code> now uses the simple database names (accesslog, um)
    instead of the suffix in the filename of exported LDIF files to avoid equal
    signs which are special chars in a shell.
  </li>
</ul>

<p id="202112020000" class="pagesubtitle">2021-12-02 - git repos moved</p>
<p>
  All git repos of &AElig;-DIR's code were moved to a new location where you
  can also file tickets (and submit pull requests):
</p>
<p>
  <a href="https://code.stroeder.com/AE-DIR">
    https://code.stroeder.com/AE-DIR
  </a>
</p>
<p>
  Some Python module packages are now in a more generic org:
</p>
<p>
  <a href="https://code.stroeder.com/pymod">
    https://code.stroeder.com/pymod
  </a>
</p>
<p>
  The repos are still mirrored at gitlab.com for automated testing but
  without using anything like ticket queues or similar:
</p>
<p>
  <a href="https://gitlab.com/ae-dir">
    https://gitlab.com/ae-dir
  </a>
</p>

<p id="202111251600" class="pagesubtitle">2021-11-25 - Tagged ansible-ae-dir-server 0.30.0</p>
<p>Changes since 0.29.1:</p>
<ul>
  <li>
    <em>slapo-allowed</em> was activated which enables <em>web2ldap</em> to
    show whether the user has write access to an attribute. If the user is not
    allowed to change an attribute only the value will be shown, no input
    field.
  </li>
  <li>
    New tool scripts:
    <ul>
      <li>
        <code>/opt/ae-dir/sbin/ae-dir-slapindex.sh</code> re-indexes all databases
      </li>
      <li>
        <code>/opt/ae-dir/sbin/ae-dir-reload.sh</code> exports and re-imports all databases
      </li>
    </ul>
  </li>
  <li>
    Several software updates: web2ldap, python-ldap0, ae-dir-pproc, slapdcheck
  </li>
  <li>
    mtail now extracts etime for slapd_result metric into a bucket.
  </li>
  <li>
    Code-cleaning:
    <ul>
      <li>Removed various obsolete stuff</li>
      <li>Fixed ansible syntax</li>
    </ul>
  </li>
  <li>
    <ul>
      openSUSE/SLE repos:
      <li>Dropped support for openSUSE Leap 15.2 and SLE15SP2</li>
      <li>now same Leap and SLE repo used</li>
      <li>Added repo URL for upcoming Leap 15.4 and SLE15SP4</li>
    </ul>
  </li>
</ul>

{% endblock content %}
