{% extends htdocs_layout %}

{% block head_title %}News / announcements{% endblock %}
{% block head_pagedescription %}Project news and announcements{% endblock %}

{% block content %}

<p class=""></p>
<p>
</p>
<ul>
</ul>

{% endblock content %}
