{% extends htdocs_layout %}

{% block head_title %}Next steps / to-do list{% endblock %}
{% block head_pagedescription %}To-do items, ideas, next steps{% endblock %}

{% block content %}

<ol>
  <li><a href="#sso">WebSSO</a></li>
  <li><a href="#monitoring">Monitoring</a></li>
  <li><a href="#ui">User Interface</a></li>
  <li><a href="#pki">PKI</a></li>
  <li><a href="#nac">Network Access Control (NAC)</a></li>
  <li><a href="#radius">RADIUS</a></li>
  <li><a href="#dns">DNS</a></li>
  <li><a href="#tool">Command-line tool</a></li>
</ol>

<p class="pagesubtitle">See also:</p>
<ul>
  <li>
    <a href="https://code.stroeder.com/AE-DIR?sort=alphabetically">
      &AElig;-DIR repositories with issue trackers
    </a>
  </li>
  <li>
    <a href="devel.html">How to contribute?</a>
  </li>
</ul>

<h1 id="sso">WebSSO</h1>
<p>
  Custom OpenID Connect Provider (OP) checking
  login relationship of user and service based on
  <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup - aeLoginGroups</a>.
</p>
<p>
  Python modules to evaluate:
</p>
<ul>
  <li>
    <a href="https://idpy.org/">Identity Python</a> module
    <a href="https://github.com/IdentityPython/oidc-op">oidc-op</a>,
    see also
    <a href="https://github.com/IdentityPython/oidc-op/tree/master/example/flask_op">Example based on Flask</a>
  </li>
  <li>
    <a href="https://github.com/lepture/Authlib">Authlib</a>,
    see also
    <a href="https://github.com/authlib/example-oidc-server.git">Example of OpenID Connect 1.0 Provider</a>
  </li>
</ul>

<h1 id="monitoring">Monitoring</h1>
<ul>
  <li>
    Implement &AElig;-DIR data metrics exporter:
    <ul>
      <li>Number of zones, users, groups, hosts etc. labeled by <var>aeStatus</var></li>
      <li>Inbound references to a zone labeled per referencing zone.</li>
      <li>Extract data from exported LDIF data.</li>
    </ul>
  </li>
  <li>
    Implement grafana dash-boards for
    <ul>
      <li><a href="https://code.stroeder.com/ldap/slapdcheck/issues/16">slapdcheck</a></li>
      <li>&AElig;-DIR data metrics exporter</li>
    </ul>
  </li>
</ul>

<h1 id="ui">User Interface</h1>
<ul>
  <li>
    specific web application for administrative use-cases
  </li>
  <li>
    Simple reporting use-cases (expired objects etc.).
  </li>
  <li>
    Graph reporting of data structures in a zone.
  </li>
</ul>

<h1 id="pki">X.509 PKI</h1>
<ul>
  <li>
    Issue X.509 server certs to
    <a href="docs.html#schema-oc-aeHost">aeHost</a>,
    <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>,
    <a href="docs.html#schema-oc-aeService">aeService</a> or
    <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a>
    based on authorization of role
    <a href="docs.html#role-setup-admins">Setup Admins</a>
    (see also <a href="https://ldapcon.org/2017/x-509-pki-ra-schema-for-ae-dir/">
    LDAPcon 2017 talk: X.509 PKI RA schema for Æ-DIR</a>)
  </li>
  <li>
    direct ansible integration for server cert enrollment
  </li>
  <li>
    X.509 cert enrollment for <a href="docs.html#schema-oc-aeUser">aeUser</a>
    with <a href="#mfa">multi-factor authc</a>
  </li>
  <li>
    remote CA keys
    (e.g. based on <a href="https://github.com/leifj/pyeleven">pyeleven</a>
    and <a href="https://github.com/LudovicRousseau/PyKCS11">PyKCS11</a>)
  </li>
</ul>

<h1 id="nac">Network Access Control (NAC)</h1>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/IEEE_802.1X">IEEE 802.1X</a>
  </li>
  <li>
    <a href="https://libvirt.org/formatnwfilter.html">libvirt network filters</a>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h1 id="radius">RADIUS</h1>
<p>
  Support for RADIUS with dynamic RADIUS client configuration
  (see also <a href="#nac">NAC</a>).
</p>
<ul>
  <li>
    <a href="https://freeradius.org/">FreeRADIUS</a>:
    many features, LDAP authc and authz out-of-the-box
  </li>
  <li>
    Custom implementation based on <a href="https://github.com/wichert/pyrad">pyrad</a>
  </li>
</ul>

<h1 id="dns">DNS</h1>
<ul>
  <li>
    use PowerDNS to serve attributes as DNS RRs to augment regular DNS service:
    <ul>
      <li><a href="docs.html#schema-oc-aeHost">aeHost</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeZone">aeZone</a> (SOA)</li>
    </ul>
  </li>
  <li>
    <a href="http://jpmens.net/2015/11/03/powerdns-with-the-remote-back-end-and-dnssec/">
    use remote backend (preferably with DNSSEC)</a> via
    <a href="https://github.com/cmouse/pdns-remotebackend-python">pdns-remotebackend-python</a>
  </li>
</ul>

<h1 id="tool">Command-line tool</h1>
<ul>
  <li>
    Implement sub-commands in <a href="https://pypi.org/project/ae-dir-tool/">ae-dir-tool</a>.
  </li>
  <li>
    <ul>
      <li>Use <a href="https://pypi.org/project/typer/">Typer</a> with type hints.</li>
      <li>Idempotent add/modify for <var>aeHost</var> entries.</li>
    </ul>
  </li>
</ul>
{% endblock content %}
